/* Reset
====================================== */
* {
    hyphens: auto;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

*,*:before, *:after {
    box-sizing: border-box;
}


/* Material UI
====================================== */
@import "./node_modules/material-ui-sass/material-ui";
@import "./node_modules/material-ui-sass/material-ui/html";

.mui-paper.mui-z-depth-1 > .mui-z-depth-bottom {
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12);
}

.mui-paper.mui-rounded > .mui-paper-container {
    border-radius: 2px;
}

.mui-paper > .mui-paper-container {
    height: 100%;
    width: 100%;
}

.page-with-nav .page-with-nav-content {
    border-left: 1px solid #e0e0e0;
    margin-left: 192px;
    min-height: 800px;
}
.page-with-nav .page-with-nav-content {
    max-width: 896px;
    padding: 24px;
}

.page-with-nav .page-with-nav-secondary-nav {
    border-top: medium none;
    position: absolute;
    top: 64px;
    width: 192px;
}
.page-with-nav .page-with-nav-secondary-nav {
    border-top: 1px solid #e0e0e0;
    overflow: hidden;
}

.full-width-section:after {
    clear: both;
}
.full-width-section:before, .full-width-section:after {
    content: " ";
    display: table;
}
*:before, *:after {
    box-sizing: border-box;
}
.full-width-section {
    padding-bottom: 72px;
    padding-top: 72px;
}
.full-width-section {
    padding-bottom: 48px;
    padding-top: 48px;
}
.full-width-section {
    padding: 24px;
}
.footer {
    background-color: #212121;
    text-align: center;
}

.footer .mui-icon-button {
    color: rgba(255, 255, 255, 0.87);
}
.mui-enhanced-button.mui-is-link-button {
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
}
.footer a {
    color: rgba(255, 255, 255, 0.87);
}

.footer p {
    color: rgba(255, 255, 255, 0.54);
}
.mui-icon-button {
    height: 48px;
    padding: 12px;
    position: relative;
    width: 48px;
}
.mui-enhanced-button {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
}



img.responsive-img, video.responsive-video {
    height: auto;
    max-width: 100%;
}
.circle {
    border-radius: 50%;
}

.valign-wrapper {
    align-items: center;
    display: flex;
}

.valign-wrapper .valign {
    display: block;
}

.speaker-item {
    padding: 20px;

    > .responsive-img {
        width: 8%;
    }

    .speaker-info {
        padding-left: 20px;
    }

    .speaker-name {
        margin-bottom: 0;
    }
}
